<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serega Clicker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="click-window">
            <img src="{{ url_for('static', filename='serega.png') }}" alt="Coin" id="coin" onclick="incrementCounter()">
            <p>Coins: <span id="counter">0</span></p>
        </div>
    </div>

    <script>
        function incrementCounter() {
            fetch('/increment', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('counter').innerText = data.counter;
                });
        }

        // Инициализация счетчика при загрузке страницы
        fetch('/increment', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                document.getElementById('counter').innerText = data.counter;
            });
    </script>
</body>
</html>
